section{
    padding-bottom:  50px;
    border-bottom: 1px black solid;
}

section:first-child {
    color: blue;
  }

  section:nth-child(2) {
border-bottom: red 5px solid;

  }




 h3,li{
    color: red
 }

li>a{   
font-size:  25px;
}

h3+span {
color: blue;
}

img {
    border: solid;
    border-radius: 50%;
}

section:nth-child(7)>p:hover{
  color: green;
  }
